<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Momento - Personal photo albums in a few clicks</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
  </head>
  <body id="page-top">
    <!-- Mashead header-->
    <div class="masthead-no-bg text-start">
      <div class="container px-5 white">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 mb-5 mt-5 mb-lg-0 text-start ">
            <h1 class="display-4 lh-4 mb-5 newsreader text-center">Effortlessly Craft a Great Photo Album with Mementos in Just 5 Minutes!</h1>
            <p class="fw-normal">
            Digital photos are convenient, especially when capturing the places we've been. However, there's a distinct pleasure in flipping through a physical album that showcases those destinations. Sharing your travel memories with friends and family becomes more personal when you hand them a tangible collection of your journeys. With Mementos, you can seamlessly transition your digital travel snapshots into a tangible photo book, offering a richer way to remember and share your adventures.


            <h3 class="lh-4 mb-1 mt-3 newsreader text-center">Why Choose Mementos?</h3>

            Mementos is not just another photo album tool. It's built for those of us who value both our memories and our time. The emphasis is truly on speed and ease of use. Here's how you can create an impressive photo album in under 5 minutes:

            <h3 class="lh-4 mb-1 mt-3 newsreader text-center">1. Sign Up for Mementos</h3>

            To get started creating personalized photo albums, start by <%= link_to "signing up for a Mementos account", new_user_registration_url %>. It's completely free to do so. 

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">2. Select Your Photos</h3>

            <%= image_tag "favorite_photo_osx.jpg", alt: "How to favorite an image in OSX", style: "max-width: 80%", class: "my-3 rounded mx-auto d-block", title: "Favoriting an image in OSX" %>

            Begin by selecting the photos you want to include in your album. In your Photos app, favorite the photos you want use to make uploading them easier. You can also create a new album and add your chosen photos to it. 

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">3. Ensure Accurate Location Information</h3>

            <%= image_tag "location_info_osx.jpg", alt: "How to update location info in OSX", style: "max-width: 80%", class: "my-3 rounded mx-auto d-block", title: "Location info in OSX" %>

            Mementos uses location data to organize and label your photos. If your smartphone has GPS, location information will be automatically added to your photos. If not, simply tap the ⓘ  icon and add a location manually. Photos shared over messaging may lack location data.

            <p class="fst-italic fw-light text-muted fs-7">We only use location data to generate captions, it is never shared or otherwise used.</p>

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">4. Upload Your Photos</h3>

            With your chosen photos ready, export them from your photos app and upload them to your Mementos account. Mementos' compatibility with a range of file formats ensures a hassle-free uploading process.

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">5. Automatic Magic</h3>

            <%= image_tag "page_spread.jpg", alt: "A sample from a photo album show an abstract map", style: "max-width: 80%", class: "my-3 rounded mx-auto d-block", title: "Showcasing an abstract map" %>

            Post-upload, Mementos gets to work immediately. Its uses the location information to sort your pictures and caption them. This process only takes a minute or two. The best part? You don't lift a finger.

            <br/>

            One of the standout features of Mementos is its abstract map introductions. For every place you've traveled to and captured memories, Mementos presents a gorgeous abstract map, making your album not just a collection of photos, but a geographical journey of your adventures.

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">6. Review and Refine (If You Wish!)</h3>

            <%= image_tag "photo_edit.jpg", alt: "", style: "max-width: 80%", class: "my-3 rounded mx-auto d-block", title: "Showcasing an abstract map" %>
             <br/>

            Though Mementos is all about speed, it ensures you have the final say. Take a minute to glance through the automatically curated album. Love it as it is? Great! Want to update a few captions? It's a breeze!

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">7. Share Your Photo Album</h3>

            And just like that, in less than 5 minutes, your album is ready. With just a few clicks, you can order your beautifully crafted photo album

            <h3 class="lh-4 mb-1 mt-5 newsreader text-center">Enjoy your Memento</h3>
            In conclusion, Mementos empowers you to turn your digital photo collection into personalized photo albums that make wonderful gifts and delightful showcases of your adventures. With its user-friendly features and automation, you can focus on the joy of storytelling, knowing that Mementos has your back.

            So, why wait any longer? Sign up for Mementos and embark on a creative journey that celebrates your loved ones and the incredible moments that have shaped your life. Craft your photo album masterpiece today, and get ready to spread smiles and share memories!

            </p>
            <div class="mb-5"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-5">
      <div class="container px-5">
        <div class="row align-items-center">
          <div class="mb-lg-0 text-center text-lg-start">
            <h1 class="display-4 lh-4 mb-3 newsreader text-center">Get started now</h1>
            <p class="lead fw-normal text-muted mb-5 text-center"><%= link_to "New photo album", new_photo_album_path, class: "button btn btn-primary rounded-pill px-3 py-2 mb-2 mb-lg-0" %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
