<%= form_with(model: photo_album) do |form| %>
  <% if photo_album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
        <% photo_album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-6">
    <%= form.label :images %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone">
      <%= form.file_field :images, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
      <div class="dropzone-msg dz-message needsclick text-grey-600">
        <h3 class="dropzone-msg-title">Drag files to upload or click here to browse</h3>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
