<%= form_with(model: photo_album) do |form| %>
  <% if photo_album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
        <% photo_album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "col-form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-6 form-group">
    <%= form.label :images, class: "col-form-label" %>
    <div class="dropzone dropzone-default dz-clickable form-control" data-controller="dropzone">
      <%= form.file_field :images, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
      <div class="dropzone-msg dz-message needsclick text-grey-600">
        <p class="col-form-label">Drag files to upload or click here to browse</p>
      </div>
    </div>
    <p class="form-text text-muted">Upload at least <%= "#{PhotoAlbum.min_images}" %> images to get started</p>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary", id: "submit-button" %>
    <div class="progress mt-3" id="progress-container">
      <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
  </div>
<% end %>
