<div id="<%= dom_id photo_album %>">
  <% album_hash = photo_album.present { |image| rails_storage_proxy_path(image.variant(resize_to_fit: [600, 600])) } %>
  <p>

  <div class="container" data-controller="album">
    <div class="row g-0 justify-content-center">
      <div class="col-md-6">
        <turbo-frame id="cover">
          <%= render 'photos/cover', photo_album: album_hash %>
        </turbo-frame>
      </div>
    </div>
    <div class="row g-0 justify-content-center">
      <div class="col-md-3">
        <%= text_field_tag :name, params[:email], class: "form-control mb-5 simple-field", style: "text-align: center;", autocomplete: false, value: "#{album_hash[:name]}" %>
      </div>
    </div>

    <% album_hash['pages'].each_slice(2) do |left, right| %>
      <div class="row g-0 justify-content-center">
        <div class="col-md-6">
          <%= render 'photos/photo_page', page: left, style: "margin-right: 0px !important;", pos_class: 'clip-left' %>
        </div>
        <div class="col-md-6">
          <% if right %>
            <%= render 'photos/photo_page', page: right, style: "margin-left: 0px !important;", pos_class: 'clip-right' %>
          <% end %>
        </div>
      </div>

      <div class="row g-0 justify-content-around mt-4">
        <div class="col-md-3">
          <div class="row g-0 mb-3">
            <div class="col">
              <% if left['page_class'] == 'photo-content' %>
                <%= render 'address_field', photo_album: @photo_album, image: left %>
              <% end%>
            </div>
          </div>
          <div class="row g-0 justify-content-around">
            <div class="col" align="center">
              <%= render 'delete_button', photo_album: @photo_album, image: left %>
            </div>
            <% if left['page_class'] == 'photo-content' %>
              <div class="col" align="center">
                <%= render 'cover_button', photo_album: @photo_album, image: left %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row g-0 mb-3">
            <div class="col">
              <% if right %>
                <% if right['page_class'] == 'photo-content' %>
                  <%= render 'address_field', photo_album: @photo_album, image: right %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row g-0 justify-content-around mb-5">
            <div class="col" align="center">
              <% if right %>
                <%= render 'delete_button', photo_album: @photo_album, image: right %>
              <% end %>
            </div>
            <% if right %>
              <% if right['page_class'] == 'photo-content' %>
                <div class="col" align="center">
                  <%= render 'cover_button', photo_album: @photo_album, image: right %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </p>
</div>
