<%= turbo_stream_from @photo_album %>

<% if @photo_album.building? %>
  <div id="photo_album_content" data-controller="album" class="masthead-small">
    <%= render 'photo_album', photo_album: @photo_album %>
  </div>
  <div id='album_building', class="fader overlay", style="display: block">
    <%= render 'album_building', data_controller: 'album' %>
  </div>
<% else %>
  <div data-controller="album" class="masthead-small">
    <%= render "shared/notice", locals: { class: 'mt-5' } %>
    <%= render 'photo_album', photo_album: @photo_album %>
  </div>
<% end %>

<div class="navbar navbar-expand-lg navbar-light container mt-3 justify-content-center">
  <%= button_to "Delete this album", @photo_album, method: :delete, class: "button btn btn-danger ms-3", data: { turbo_confirm: "Are you sure? This cannot be undone" } %>
</div>

