<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
  <div class="container px-5">
    <%= link_to "<  Mementos", :back, class: "navbar-brand fw-bold"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
        <li class="nav-item button btn btn-outline-secondary disabled rounded-pill px-3 mx-3 mb-lg-0">
          <i class="bi-person-circle"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container masthead">
  <div class="row justify-content-center">
    <div class="card border-secondary m-3 col-sm-3 p-0">
      <div class="text-lg-start">
        <h2 class="mb-3 card-header">Log in</h2>
      </div>

      <div class="p-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-2">
            <%= f.label :email, style: "display: block", class: "col-form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control simple-field" %>
          </div>

          <div class="field mb-2">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control simple-field" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field form-check form-switch mb-3">
              <%= f.check_box :remember_me, class: "form-check-input", type: "checkbox" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "button btn btn" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
